{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'posts:index' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span style="color:red">Ya</span>tube
      </a>
      {% with request.resolver_match.view_name as view_name %}
      <ul class="nav nav-pills">
        {% if user.is_authenticated %}
        <li class="nav-item">
          {% with 'posts:post_create' as name %}
            <a class="nav-link link-dark {% if view_name  == name %}active{% endif %}"
              href="{% url name %}"
            >
              Добавить запись
            </a>
          {% endwith %}
        </li>
        <li class="nav-item">
          {% with 'posts:profile' as name %}
            <a class="nav-link link-dark {% if view_name  == name and user == author %}active{% endif %}"
              href="{% url name user.username %}"
            >
            Пользователь: <b>{{ user.username }}</b>
            </a>
          {% endwith %}
        </li>
        <li class="nav-item"> 
          {% with 'password_change' as name %}
            <a class="nav-link link-dark {% if view_name  == name %}active{% endif %}"
              href="{% url name %}"
            >
              Изменить пароль
            </a>
          {% endwith %}
        </li>
        <li class="nav-item"> 
          <a class="nav-link link-dark" href="{% url 'logout' %}">Выйти</a>
        </li>
        {% else %}
        <li class="nav-item"> 
          {% with 'login' as name %}
            <a class="nav-link link-dark {% if view_name  == name %}active{% endif %}" href="{% url name %}">Войти</a>
          {% endwith %}
        </li>
        <li class="nav-item"> 
          {% with 'users:signup' as name %}
            <a class="nav-link link-dark {% if view_name  == name %}active{% endif %}" href="{% url name %}">Регистрация</a>
          {% endwith %}
        </li>
        {% endif %}
      </ul>
      {% endwith %}
    </div>
  </nav>
</header>
