{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h1>Технологии</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          Bootstrap
        </li>
        <li class="list-group-item">
          <a href="https://github.com/lozhkinea/" class="link-dark text-decoration-none" title="Мой Гитхаб">GitHub</a>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>Для бэкенда использован фреймворк Django версии 2.2,
        для HTML использован фреймворк Bootstrap версии 5.1.3,
        код написан на языке программирования Python 3.7.9</p>
    </article>
  </div>
{% endblock %}